.database-results {
  .database-result {
    margin: auto;
    margin-bottom: 16px;
    padding: 8px;
    max-width: 33vw;
    background: linear-gradient(
      to right bottom,
      white,
      rgba(255, 255, 255, 0.75),
      white
    );
    color: black;
    border-radius: 4px;

    img {
      width: 33%;
    }
  }
}
